.text-container {
    /* background-color: #eeeeee; */
    border-radius: 12px;
    padding: 4px 40px 80px 40px;
    margin: 16px;
    /* box-shadow: 2px 4px 6px rgba(0,0,0, 0.3); */
}

@media (max-width: 699px) {
    div.main div.text-container p {
        text-align: justify;
    }

    .text-container {
    padding: 4px 10px 80px 10px;
    }

}