.chart-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

#skill-graph {
    display: block; 
    position: relative;
    width: 100%; 
    height: 500px; 
    margin: 1.1em 0 0;
    padding: 0; 
    overflow: hidden;
}

.skill-label {
    color: white;
}

.percentage {
    text-align: center;
}

#skill-graph tr, #skill-graph th, #skill-graph td {
    position: absolute; 
    width: 400px;
    z-index: 2; 
    margin: 0; 
    padding: 0;
    padding-left: 8px;
    text-align: left;
    font-weight: 900;
}

#skill-graph td {
    transition: all .3s ease;
}

#skill-graph tbody tr{
    height: 40px; 
    padding: 5px; 
}

#skill-graph #s1 {
    background-color: tomato;
    top: 0;
}

#skill-graph #s2 {
    background-color: #ffb300;
    top: 44px;
    /* left: -40px; */
    width: 70%;
}

#skill-graph #s3 {
    background-color: #8e24aa;
    top: 88px;
    width: 88%;
}

#skill-graph #s4 {
    background-color: #4db6ac;
    top: 132px;
    width: 75%;
}

#skill-graph #s5 {
    background-color: tomato;
    top: 176px;
    width: 70%;
}

#skill-graph #s6 {
    background-color: #ffb300;
    top: 220px;
    width: 64%;
}

#skill-graph #s7 {
    background-color: #8e24aa;
    top: 264px;
    width: 50%;
}

#skill-graph #s8 {
    background-color: #4db6ac;
    top: 308px;
    width: 60%;
}

#skill-graph #s9 {
    background-color: tomato;
    top: 352px;
    width: 30%;
}

#skill-graph #s10 {
    background-color: #ffb300;
    top: 396px;
    width: 20%;
    padding-left: 0;
}

.time-box {
    position: relative;
}
.time-box > svg {
    position: absolute;
    left: 45%;
    margin-top: 25px;
    border-top: 4px solid #4db6ac;
    border-bottom: 4px solid #4db6ac;
}

svg.ci-1 {
    position: relative;
    left: 0;
    top: 40%;
    width: 100%;
}


.time-flex {
    display: flex; 
    flex-direction: row;
    position: relative;
}

.time-flex .col { 
    flex: 1;
    width: 100%;
}

.col p { 
    padding: 0 0 0 1rem;
    margin-top: 0;
}
