.overlay-container {
    position: relative;
}

.overlay {
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    height: 100%; 
    opacity: 0;
    transition: .5 ease;
    background-color: rgba(255, 255, 255, 0.8);
}

.overlay-container:hover .overlay {
    opacity: 1;
}

h2.card-title .project-title {
    font-family: "Lato", sans-serif; 
}

p.project-description {
    margin: 20px;
    font-size: 20px;
}

span.tech::after {
    content: ",";
}

span.tech:last-child::after {
    content: " ";
}

.overlay-container > svg {
    position: absolute; 
    bottom: 0; 
    width: 100%;
    height: 8vh;
}

.card-action {
    border-top: none !important;
}

@media (max-width: 699px) { 
    .svg-sm{
            width: 100%;
            top: 76vh;
    }
}